html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,
strong,sub,sup,b,i,center,dl,dt,dd,ol,ul,li,label,
table,tbody,tfoot,thead,tr,th,td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face
{
    font-family: myPageFont;
    src: url('lantingxihei_GBK.TTF'),
         url('lantingxihei_GBK.eot'); /* IE9+ */
}
body {
    line-height: 1;
    font-family:myPageFont;
    /*font-family:Helvetica,Tahoma,Verdana,"Microsoft Yahei",simsun,SimHei,Arial,sans-serif;*/
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html,body{
    height: 100%;
}
body {
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: transparent;
    font-size: 12px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hide{
    display:none!important;
}
.show{
    display:block!important;
}
.noborderbottom{
    border-bottom: 0px none !important;
}
#container{
    position:relative;
    width:100%;
}
.header{
    background:url(../img/banner.jpg) center center no-repeat;
    /*background:url(../img/demo_bg2.jpg) center center no-repeat;*/
    background-size: cover;
    /*background-size:1920px 800px;*/
    position:relative;
    height:800px;
}
.ak1_banner{
    background-image: url(../img/03_AK1_banner.jpg);
}
.aboutus_banner{
    background-image: url(../img/about_us.jpg);
}
.header .logo{
    float:left;
    width: 134px;
    height:17px;
    margin-left: 32px;
    margin-top: 39px;
    background:url(../img/logo.png) left top no-repeat;
    background-size:100% 100%;
}
.header .logo a{
    display: block;
    width:100%;
    height:100%;
}
.header_home{
    display:none;
}
.header .header-menu{
    position:absolute;
    right:32px;
    top:39px;
    font-size:14px;
    line-height: 17px;
    cursor: pointer;
}
.header .header-menu a{
    display: inline-block;
    padding-left: 56px;
    line-height:1.8;
    text-align: center;
    color:#fff;
    text-decoration: none;
}
.header .header-menu a:hover{
/*    background-color:rgba(2,25,80,0.5);
    border-radius:3px;*/
    color: #999;
}
.product_type{
    padding-top:315px;
    line-height:1.5;
    text-align:center;
    color:#fff;
}
.product_type_title{
    width: 550px;
    height: 64px;
    background:url(../img/fly_system.png) left top no-repeat;
    background-size:100% 100%;
    margin: 0px auto 42px;
    font-size: 0px;
    line-height: 0px;
}
.product_type_content{
    font-size:18px;
    letter-spacing:23px;
    padding-left: 20px;
}

.fly_control{
    overflow: hidden;
    height:625px;
    position: relative;
    padding-top: 140px;
}
.fly_control .its_introduction{
    position: absolute;
    left:50%;
    margin-left: -545px;
    width: 450px;
    text-align: right;
    line-height: 1.5;
    padding-top:160px;
    z-index: 2;
    color:#666;
}
.fly_control .its_title{
    font-size:40px;
    margin-bottom:18px;
}
.fly_control .its_content{
    font-size:16px;
}

.fly_control .its_img{
    position: absolute;
    left:50%;
    margin-left:-45px;
    width:808px;
    height:614px;
    background:url(../img/fly.png) left top no-repeat;
    background-size:100% 100%;
    z-index: 1;
}
#mobile_surface_stations_pics1{
    display: none;
}
.surface_stations{
    text-align: center;
    color:#666;
    position: relative;
}
.surface_stations .its_summary{

}
.surface_stations .its_title{
    font-size: 40px;
    line-height:96px;
}
.surface_stations .its_content{
    font-size: 16px;
    line-height:28px;
    padding-bottom:40px;
    width: 550px;
    margin: 0px auto;
}
.surface_stations .its_characteristic{
    height: 660px;
    text-align: center;
    color: #666;
}
.surface_stations .its_characteristic:before{
    display:block;
    content: " ";
    position: absolute;
    bottom: 0px;
    width:100%;
    height:440px;
    background-color:#f4f4f4;
}
.surface_stations .its_characteristic .its_pics{
    width:792.5px;
    height:469px;
    position: relative;
    margin: 0px auto 34px;
}
.surface_stations .its_pics li{
    display: none;
    position: absolute;
    left: 0px;
    top:0px;
    width:792.5px;
    height:469px;
    background:url(../img/easy_operation.png) left top no-repeat;
    background-size:100% 100%;
}
.surface_stations .its_pics li.intelligent_planning{
    background-image:url(../img/intelligent_planning.png);
}
.surface_stations .its_pics li.relax_job{
    background-image:url(../img/relax_job.png);
}
.surface_stations ul.its_pics li.current{
    display: block;
}
.surface_stations .its_tabs{
    font-size: 20px;
    width: 411px;
    height:56px;
    margin: 0px auto;
}
.surface_stations .its_tabs li{
    float:left;
    width:135px;
    line-height: 24px;
    border-right:2px solid #999;
    position: relative;
    cursor: pointer;
}
.surface_stations .its_tabs li:last-child{
    border-right:0px none;
}
.surface_stations .its_tabs li.current em,
.surface_stations .its_tabs li:hover em{
    position: absolute;
    left:50%;
    bottom:-15px;
    width:80px;
    margin-left: -40px;
    height:2px;
    background-color:#ff3333;
}
.surface_stations .its_tab_contents{
    width: 624px;
    position: relative;
    z-index:2;
    margin:0px auto;
    font-size: 16px;
    line-height:24px;
}
.surface_stations .its_tab_contents li{
    display: none;
}
.surface_stations .its_tab_contents li.current{
    display: block;
}
.cloud{
    font-size:40px;
    color:#666;
    height:540px;
    position: relative;
}
.cloud_icon{
    position: absolute;
    width:342px;
    height:193px;
    left:50%;
    margin-left:-470px;
    top:50%;
    margin-top:-130px;
    background:url(../img/cloud.png) left top no-repeat;
    background-size:100% 100%;
    z-index: 1;
}
.cloud_introduction{
    position: absolute;
    left:50%;
    margin-left: -58px;
    width: 450px;
    text-align: left;
    line-height: 1.5;
    padding-top:180px;
    z-index: 2;
    color:#666;
}
.cloud_introduction .its_title{
    font-size:40px;
    margin-bottom:16px;
}
.cloud_introduction .its_content{
    font-size:16px;
    width:275px;
}

.footer{
    height:150px;
    padding-top:50px;
    background-color:#3d4046;
    color:#ccc;
    font-size:14px;
}
.footer_body{
    height: 45px;
    line-height: 45px;
    width: 1170px;
    margin: 0px auto;
    padding-bottom: 50px;
}
.footer_menu{
    float: left;
    cursor: pointer;
}
.footer_menu a{
    display: inline-block;
    line-height:30px;
    color:#ccc;
    font-size: 14px;
    text-decoration: none;
    margin-right:50px;
}
a.customer_service_telephone{
    float: right;
    height: 45px;
    line-height: 45px;
    font-size:38px;
    padding-left:60px;
    background:url(../img/phone.png) left top no-repeat;
    background-size:42px 42px;
    color:#ccc;
    text-decoration: none;
}
a.customer_service_telephone:visited,
a.customer_service_telephone:hover,
a.customer_service_telephone:active{
    color:#ccc;
    text-decoration: none;
}
.h_line{
    height:2px;
    background-color: #4c4e52;
    overflow: hidden;
}
.company_name_and_copyright{
    height:50px;
    line-height:50px;
    width: 1170px;
    margin: 0px auto;
}
.company_name{
    float: left;
}
.copyright{
    float: right;
}
.copyright2{
    display: none;
}
.copyright span,
.copyright2 span{
    font-family:Helvetica,Tahoma,Verdana,"Microsoft Yahei",simsun,SimHei,Arial,sans-serif;
}
#gotop{
    display: none;
    position: fixed;
    right:50px;
    bottom:330px;
    width:63px;
    height:63px;
    background:url(../img/gotop.png) left top no-repeat;
    background-size:100% 100%;
    z-index: 100;
    cursor: pointer;
}
.ak1_nr{
    padding-top: 260px;
    color:#fff;
    text-align: center;
}
.ak1_title{
    /*font-size: 105px;
    width: 240px;
    height:188px;
    line-height:188px;
    border:5px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    */
    width: 254px;
    height:198px;
    background:url(../img/AK1.png) left top no-repeat;
    background-size:100% 100%;
    margin:0px auto;
    font-size: 0px;
    line-height: 0px;
}
.ak1_content{
    font-size:18px;
    letter-spacing:32px;
    margin-top:44px;
    padding-left:30px;
}
.autonomous_flight{
    height:700px;
    background:url(../img/autonomous_flight.jpg) left top no-repeat;
    background-size:contain;
    color: #666;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.autonomous_flight .its_introduction{
    position: absolute;
    left: 50%;
    margin-left:-430px;
    top: 260px;
    width: 337.5px;
    z-index:2;
}
.autonomous_flight .its_title{
    background:url(../img/autonomous_flight_icon.png) left top no-repeat;
    background-size:60px 60px;
    font-size:30px;
    line-height: 60px;
    margin-bottom: 10px;
    padding-left: 75px;
}
.autonomous_flight .its_content{
    font-size: 16px;
    line-height:25px;
}
.autonomous_flight .its_img{
    position: absolute;
    left:50%;
    margin-left:-120px;
    top:150px;
    width:594px;
    height:440px;
    background:url(../img/autonomous_flight_img.png) left top no-repeat;
    background-size:100% 100%;
    z-index: 1;
}
.simple_planning{
    height:400px;
    position: relative;
    z-index: 1;
    top:-100px;
    color: #666;
}
.simple_planning .its_img{
    position: absolute;
    left:50%;
    top:0px;
    margin-left:-672px;
    z-index: 1;
    background:url(../img/simple_planning.jpg) left top no-repeat;
    background-size:100% 100%;
    width: 910px;
    height: 455px;
}
.simple_planning .its_introduction{
    position: absolute;
    left: 50%;
    margin-left: 110px;
    top:115px;
    z-index: 2;
}
.simple_planning .its_title{
    background:url(../img/simple_planning_icon.png) left top no-repeat;
    background-size:60px 60px;
    font-size:30px;
    line-height: 60px;
    margin-bottom: 10px;
    padding-left: 75px;
}
.simple_planning .its_content{
    font-size: 16px;
    line-height:25px;
    width: 405px;
}
.integrated_design{
    background:url(../img/integrated_design.jpg) center top no-repeat;
/*    background-size:1920px 570px;
    width: 1920px;
    height: 570px;
*/
    background-size: cover;
    height:470px;
    position: relative;
}
.integrated_design .its_introduction{
    position: absolute;
    left: 50%;
    margin-left: 50px;
    top:80px;
    z-index: 2;
    color: #fff;
}
.integrated_design .its_title{
    background:url(../img/integrated_design_icon.png) left top no-repeat;
    background-size:60px 60px;
    font-size:30px;
    line-height: 60px;
    margin-bottom: 10px;
    padding-left: 75px;
}
.integrated_design .its_content{
    font-size: 16px;
    line-height:25px;
    width: 405px;
}
.security_stability{
    height: 432px;
    position: relative;
    background:url(../img/security_stability.jpg) center bottom no-repeat;
    /*background-size:1513px 432px;*/
    background-size:cover;
    color:#666;
}
.security_stability .its_introduction{
    position: absolute;
    left: 50%;
    top:50%;
    width: 550px;
    margin-left:-275px;
    height: 120px;
    margin-top: -60px;
    text-align: center;
}
.security_stability .its_title{
    width: 200px;
    background:url(../img/security_stability_icon.png) left top no-repeat;
    background-size:60px 60px;
    font-size:30px;
    line-height: 60px;
    margin:0px auto 10px;
    padding-left: 75px;
    text-align: left;
}
.security_stability .its_content{
    font-size: 16px;
    line-height:25px;
    width: 500px;
    margin: 0px auto;
}
.cloud_manage{
    color:#666;
    height:680px;
    position: relative;
}
.cloud_manage_img{
    position: absolute;
    width:402px;
    height:406px;
    left:50%;
    margin-left:-505px;
    top:142px;
    background:url(../img/mac_p.jpg) left top no-repeat;
    background-size:100% 100%;
    z-index: 1;
}
.cloud_manage_introduction{
    position: absolute;
    left:50%;
    width: 450px;
    text-align: left;
    line-height: 1.5;
    padding-top:290px;
    z-index: 2;
    color:#666;
}
.cloud_manage_introduction .its_title{
    background:url(../img/cloud_manage_icon.png) left top no-repeat;
    background-size:60px 60px;
    font-size:30px;
    line-height: 60px;
    margin:0px auto 10px;
    padding-left: 75px;
}
.cloud_manage_introduction .its_content{
    font-size:16px;
}
.detailed_parameters{

}
.detailed_parameters h2{
    background-color:#707e8b;
    line-height:80px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.detailed_parameters_table{
    width: 950px;
    margin: 0px auto;
    padding: 70px 0px 190px;
}
.detailed_parameters_table .its_tit{
    background-color: #d9dbdd; 
    line-height:53px;
    padding-left: 32px;
    font-size: 20px;
    color: #3399ff;
    border-bottom: 2px solid #9b9da1;
}
.detailed_parameters_table .its_table{
}
.detailed_parameters_table .its_horizontal{
    border-bottom:1px solid  #a6a7aa;
    font-size: 16px;
    color: #a6a7aa;
    position: relative;
}
.detailed_parameters_table .its_dt{
    position: absolute;
    left:60px;
    top:50%;
    margin-top: -12px;
    height: 24px;
    line-height: 24px;
    color:#666;
}
.detailed_parameters_table .its_dd{
    margin-left:500px;
    width: 450px;
    color:#666;
}
.detailed_parameters_table .its_dd li{
    line-height: 50px;
    border-bottom:1px solid #c6c6c6;
    padding-left:35px;
}
.detailed_parameters_table .its_dd ul li:last-child{
    border-bottom: 0px none;
}
.detailed_parameters_table .its_dd li span{
    float: right;
    width: 160px;

}
.aboutus_nr{
    padding-top:336px;
    color:#fff;
    text-align: center;
}
.aboutus_title{
    width: 426px;
    height: 62px;
    background:url(../img/company_name.png) left top no-repeat;
    background-size:100% 100%;
    margin: 0px auto;
}
.aboutus_content{
    font-size:18px;
    letter-spacing:24px;
    margin-top:32px;
    padding-left:30px;
}
.about_company{
    padding: 168px 0px 105px;
    color: #666;
    border-bottom: 1px solid #d8d9da;
    margin-bottom: 100px;
}
.about_company h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 45px;
}
.about_company p{
    width: 876px;
    margin: 0px auto;
    font-size: 17px;
    line-height: 30px;
}
.contact_us{
    padding-bottom: 130px;
}
.contact_us h2{
    font-size: 30px;
    text-align: center;
    padding-bottom:65px;
    color: #666;
}
.contact_us ul{
    width: 600px;
    margin: 0px auto;
}
.contact_us ul li{
    float: left;
    width: 50%;
    font-size:16px;
    padding-bottom: 35px;
    color: #666;
    line-height: 26px;
}
.contact_us ul li a.telephone,
.contact_us ul li a:visited,
.contact_us ul li a:hover,
.contact_us ul li a:active{
    color:#666;
    text-decoration: none;
}


/* pc */
@media screen and (max-width:1300px) {
    .fly_control{
        padding-top: 0px;
        height:575px;
    }
    .fly_control .its_introduction{
        margin-left: -468px;
    }
    .fly_control .its_img{
        position: absolute;
        left:50%;
        margin-top:117px;
        margin-left:0px;
        width:542.67px;
        height:416.67px;
    }
    .cloud_icon{
        margin-top:-140px;
    }
    .footer_body{
        width:900px;
    }
    .company_name_and_copyright{
        width:900px;
    }
    .simple_planning .its_content{
        width: 350px;
    }
}

/* mobile */
@media screen and (max-width:414px) {
    #container{
        padding-top: 55px;
    }
    .header{
        height: 340px;
        background-size: cover;
    }
    .header_home{
        display: block;
        position: absolute;
        right: 0px;
        top:-55px;
        width: 55px;
        height:55px;
    }
    .header_home .open,
    .header_home .close{
        display: block;
        width: 55px;
        height:55px;
        line-height: 55px;
        text-align: center;
        font-size:30px;
        /*background-color:#efefef;*/
        color:#666;
    }
    .header_home .close{
        display: none;
    }
    .header_home:active{
        background-color:#efefef;
    }
    .header .logo{
        position: absolute;
        left:-15px;
        top: -76px;
        width: 122px;
        height:16px;
        background-image:url(../img/logo-mobile.png);
        background-size:100% 100%;
    }
    .header .header-menu{
        display: none;
        position:absolute;
        left:0px;
        top:0px;
        right: 0px;
        background-color:#fff;
    }
    .header .header-menu a{
        display:block;
        width: auto;
        font-size:15px;
        line-height: 50px;
        text-align: center;
        color:#666;
        text-decoration: none;
        border-top:1px solid #cacaca;
        padding-left: 0px;
    }
    .header .header-menu a:hover,
    .header .header-menu a:active,
    .header .header-menu a.current{
/*        background-color: #ededed;
*/        color: #999;
    }
    .product_type{
        padding-top: 120px;
    }
    .product_type_title{
        width: 275px;
        height: 32px;
        margin-bottom:21px;
    }
    .product_type_content{
        font-size:12.5px;
        letter-spacing:8px;
        padding-left: 10px;
    }
    .fly_control{
        height: auto;
    }
    .fly_control .its_introduction{
        position: relative;
        left: 0px;
        margin-left:0px;
        text-align: left;
        width: auto;
        padding:30px 20px;
        z-index:2;
    }
    .fly_control .its_title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .fly_control .its_content{
        font-size: 12px;
        line-height: 22px;
    }
    .fly_control .its_img{
        position:relative;
        z-index: 1;
        left: 0px;
        margin-top:-68px;
        margin-left:70px;
        width:407px;
        height:312.5px;
    }
    .surface_stations .its_summary{
        text-align: left;
        padding:0px 20px 20px;
        margin-top: -40px;
        z-index: 2;
        position: relative;
    }
    .surface_stations .its_title{
        font-size:20px;
        line-height: 50px;
    }
    .surface_stations .its_content{
        font-size: 12px;
        line-height:20px;
        padding-bottom:10px;
        width:auto;
        margin: 0px auto;
    }
    .surface_stations .its_tab_contents li{
        line-height: 22px;
    }
    .surface_stations .its_characteristic {
        height: 352px;
        text-align: center;
        color: #666;
    }
    .surface_stations .its_characteristic:before {
        height:250px;
    }
    #surface_stations_pics1{
        display: none;
    }
    #mobile_surface_stations_pics1{
        display: block;
        overflow: hidden;
/*        width: 375px;
        height:221px;*/
        width: 100%;
        height: 60%;
        margin: 0px auto 15px;
        position: relative;
        z-index: 1;
    }
    .surface_stations .its_characteristic .its_pics,
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .surface_stations .its_pics li{
        width: 100%;
        height: 100%;
/*      width: 375px;
        height:221px;
*/      
        position: static;

    }
    .surface_stations .its_pics li,
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
    }
    .surface_stations .its_pics li.easy_operation{
        background-image: url(../img/mobile_easy_operation.png);
    }
    .surface_stations .its_pics li.intelligent_planning{
        background-image: url(../img/mobile_intelligent_planning.png);
    }
    .surface_stations .its_pics li.relax_job{
        background-image: url(../img/mobile_relax_job.png);
    }
    .surface_stations .its_tabs{
        font-size: 15px;
        height: 36px;
        width: 295px;
    }
    .surface_stations .its_tabs li {
        float: left;
        width: 97px;
        line-height: 18px;
        border-right: 2px solid #999;
        position: relative;
        cursor: pointer;
    }
    .surface_stations .its_tabs li.current em,
    .surface_stations .its_tabs li:hover em{
        bottom:-8px;
        width:60px;
        margin-left: -30px;
        height:1px;
    }
    .surface_stations .its_tab_contents{
        width:auto;
        margin: 0px 30px;
        font-size: 12px;
        line-height:21px;
    }
    .cloud{
        padding-top:75px;
        height: 322px;
    }
    .cloud_icon {
        position:relative;
        width: 171px;
        height: 96px;
        left:0px;
        margin:0px auto;
        top:0px;
        background: url(../img/cloud.png) left top no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
    .cloud_introduction {
        position: relative;
        left:0px;
        margin:0px auto;
        width:285px;
        text-align: center;
        line-height: 1.5;
        padding-top:32px;
        z-index: 2;
        color: #666;
    }
    .cloud_introduction .its_title{
        font-size: 25px;
        padding-bottom:14px;
        margin-bottom: 0px;
    }
    .cloud_introduction .its_content{
        font-size: 12px;
        text-align: left;
        margin: 0px auto;
        width: 190px;
    }
    .footer {
        height:auto;
        font-size: 12px;
    }
    a.customer_service_telephone {
        float:none;
        height:22px;
        line-height:22px;
        font-size: 21px;
        padding-left:36px;
        background-size: 22px 22px;
        margin: 0px 0px 30px 16px;
    }
    .footer_body{
        width: auto;
        padding-bottom:40px;
    }
    .footer_menu{
        margin:0px 0px 40px 15px;
    }
    .footer_menu a{
        margin-right: 32px;
    }
    .footer_menu a:last-child{
        margin-right: 0px;
    }
    .copyright{
        display: none;
    }
    .company_name_and_copyright{
        width: auto;
        height:auto;
        padding: 20px 0px 20px 16px;
        line-height:24px;
    }
    .copyright2{
        display: block;
    }
    .company_name{
        float: none;
    }
    #gotop{
        display: none;
        position: fixed;
        right: 25px;
        bottom:300px;
        width:40px;
        height:40px;
    }
    .h_line{
        width: 100%;
        background-color: #3d4046;
    }
    .ak1_nr{
        padding-top:80px;
        height: 340px;
        color:#fff;
        text-align: center;
    }
    .ak1_title{
        width: 127px;
        height: 99px;
    }
    .ak1_content{
        margin-top: 18px;
        font-size: 9px;
        letter-spacing: 12px;
    }
    .autonomous_flight{
        height:370px;
    }
    .autonomous_flight .its_introduction{
        position: static;
        margin-left: 0px;
        padding: 48px 15px 0px;
    }
    .autonomous_flight .its_title{
        background: none;
        font-size:20px;
        line-height:24px;
        margin-bottom: 14px;
        padding-left:0px;
    }
    .autonomous_flight .its_content{
        font-size: 12px;
        line-height: 18px;
        width:250px;
    }
    .autonomous_flight .its_img{
        width:297px;
        height:220px;
        position: static;
        margin-left: 83px;
    }
    .simple_planning{
        position: static;

    }
    .simple_planning .its_introduction{
        position: static;
        margin-left: 0px;
        padding: 48px 15px 0px;
    }
    .simple_planning .its_title{
        background: none;
        font-size:20px;
        line-height:24px;
        margin-bottom: 14px;
        padding-left:0px;
    }
    .simple_planning .its_content{
        font-size: 12px;
        line-height: 18px;
    }
    .simple_planning .its_img{
        position: static;
        width:455px;
        height:278px;
        background-position: right top;
        margin-left:-55px;
    }
    .integrated_design{
        height: 235px;
        background-position: 40% top;
    }
    .integrated_design .its_introduction{
        position: static;
        margin-left: 0px;
        padding: 24px 15px 0px;
    }
    .integrated_design .its_title{
        background: none;
        font-size:20px;
        line-height:24px;
        margin-bottom: 14px;
        padding-left:0px;
    }
    .integrated_design .its_content{
        font-size: 12px;
        line-height: 18px;
        width: auto;
    }
    .security_stability{
        height: 216px;
    }
    .security_stability .its_title{
        width: 200px;
        text-align: center;
        background:none;
        font-size:20px;
        line-height:30px;
        margin: 0px auto 10px;
        padding-left:0px;
    }
    .security_stability .its_content{
        font-size: 12px;
        line-height:16px;
        width:250px;
    }
    .cloud_manage{
        padding: 65px 0px 63px;
        height: auto;
    }
    .cloud_manage_img{
        position: static;
        width:201px;
        height:203px;
        margin:0px auto;
    }
    .cloud_manage_introduction {
        position: static;
        width:250px;
        text-align: center;
        line-height: 1.5;
        padding-top:42px;
        margin: 0px auto;
    }
    .cloud_manage_introduction .its_title {
        background:none;
        font-size:20px;
        line-height:24px;
        margin: 0px auto 14px;
        padding-left:0px;
    }
    .cloud_manage_introduction .its_content{
        font-size: 12px;
    }
    .detailed_parameters h2{
        line-height:40px;
        font-size: 15px;
    }
    .detailed_parameters_table .its_tit{
        line-height: 27px;
        font-size: 10px;
    }
    .detailed_parameters_table{
        width:auto;
        padding:0px 0px 34px;
    }
    .detailed_parameters_table .its_dd {
        margin-left:170px;
        width:auto;
    }
    .detailed_parameters_table .its_dd li{
        font-size:7.5px;
        line-height:25px;
        padding-left:17px;
    }
    .detailed_parameters_table .its_dd li span{
        width:95px;
    }
    .detailed_parameters_table .its_horizontal{
        font-size: 10.5px;
    }
    .aboutus_nr{
        padding-top: 140px;
    }
    .aboutus_title{
        width: 213px;
        height: 31px;
    }
    .aboutus_content{
        margin-top: 18px;
        font-size: 9px;
        letter-spacing: 12px;
    }
    .about_company{
        padding:84px 0px 95px;
        margin-bottom:0px;
        border: 0px none;
    }
    .about_company h2{
        font-size: 20px;
    }
    .about_company p{
        width:auto;
        margin: 0px auto;
        font-size: 12px;
        line-height:18px;
        padding: 0px 30px;
    }
    .contact_us{
        padding-bottom: 77px;
    }
    .contact_us h2{
        font-size: 20px;
        padding-bottom: 28px;
    }
    .contact_us ul{
        width: auto;
    }
    .contact_us ul li{
        float: none;
        width: auto;
        font-size: 12px;
        padding-bottom:18px;
        line-height:18px;
        text-align: center;
    }
    .security_stability .its_introduction{
        width:300px;
        margin-left:-150px;
    }

}



























