body{
    background-color: #000e1d;
}
.tail-banner{
    background-color: #000e1d;
    color: #fff;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
}
.tail-banner:after{
    position: absolute;
    bottom: .6rem;
    height: 1px;
    width: 1rem;
    left: 50%;
    margin-left: -.5rem;
    background-color: #c7a14c;
    content: '';
}
.tail-banner > p{
    text-align: center;
    font-size: .6rem;
    line-height: 2;
}
.service-list{
    background-color: #000e1d;
    border-bottom: 1px solid #4d5055;
}
.service-des{
    text-align: center;
    color: #fff;
    padding: 0 1.2rem;
    overflow: hidden;
}
footer {
    background-color: #000e1d;
}

.service-tit{
    font-size: .75rem;
    line-height: 2;
    position: relative;
    padding-bottom: 1px;
    font-weight: normal;
}
.service-tit:after{
    position: absolute;
    bottom: 0;
    height: 1px;
    width: .6rem;
    left: 50%;
    margin-left: -.3rem;
    background-color: #889098;
    content: '';
}
.service-sub-tit{
    font-size: .6rem;
    line-height: 2;
    font-weight: normal;
}
.service-con{
    margin: 1.2rem auto 1.5rem;
    font-size: .6rem;
    line-height: 1.6;
}
#banner{
    margin-top: 2.1rem;
}
