body{
    background-color: #fff;
}
.des{
    position: absolute;
    box-sizing: border-box;
}
.banner > img{
    width: 100%;
    display: block;
}
.bottom-banner > img{
    width: 100%;
    display: block;
}
.middle-banner > img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.center-banner > img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
mar{
    position: absolute;
    box-sizing: border-box;
}
.wait-img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.tab-nav{
    overflow: hidden;
}

.tab-nav > li{
    float: left;
    width: 33.3%;
}
.tab-nav > li > a{
    text-decoration: none;
    color: #333;
    display: block;
    line-height: 2;
    font-size: .6rem;
    text-align: center;
}
.tab-nav > li.active{
    background-color: #5aacfa;
}
.tab-nav > li.active > a{
    color: #fff;
}
#uav1Banner1 .des{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    box-sizing: border-box;
    padding: .5rem;
}

.page-title{
    font-size: 1rem;
    line-height: 1;
    margin-bottom: .5rem;
    vertical-align: bottom;
    font-weight: normal;
}
.page-title sub{
    font-size: .5rem;
    margin-left: .25rem;
    /* font-style: italic; */
}
.page-content{
    font-size: .6rem;
    line-height: 1.3;
}
.banner-title{
    font-size: .8rem;
    margin-bottom: .5rem;
    line-height: 2;
    font-weight: normal;
}
.banner-content{
    font-size: .6rem;
    line-height: 1.6;
}
#uav1Banner2 .des{
    top: 70%;
    width: 100%;
    text-align: center;
    color: #585654;
    left: 0;
}
#uav1Banner3 .des{
    bottom: 0;
    width: 100%;
    color: #fff;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: .5rem;
}
#uav1Banner4 .des{
    position: relative;
    text-align: center;
    color: #585654;
    padding: 3rem 2rem;
}
#uav1Banner4 img{
    margin-bottom: .25rem;
}
#uav1Banner5 .des{
    bottom: 0;
    width: 100%;
    color: #fff;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: .5rem;
    text-align: right;
}
#uav1Banner5 .big {
    font-family: "DIN Condensed";
    font-size: 1rem;
    margin: 0 .5rem;
    vertical-align: middle;
}
.middle-banner{
    position: relative;
}
#uav1Banner6{
    background-color: #97928f;
    padding: 1rem 0 2rem;
}
#uav1Banner6 .des{
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    padding: 0 .5rem;
}
.center-banner{
    padding: 2rem 0 1rem;
}
.center-banner .des{
    position: relative;
    text-align: center;
    color: #585654;
    padding: 0 .5rem;
    margin-bottom: 3rem;
}
.big-title{
    margin-bottom: 1rem;
}
.big-title > img{
    width: 3rem;
}
#uav1Banner7 .des, #uav2Banner6 .des{
    margin-bottom: 1rem;
}
#uav1Banner8{
    background-color: #dfdbd9;
}
#uav1Banner9 .des{
    text-align: center;
    top: 20%;
    width: 100%;
    color: #fff;
    left: 0;
    padding: 0 .5rem;
}

footer{
    background-color: #535353;
}

.param-table{
    background-color: #666;
    color: #cbced3;
    padding: 1.5rem 0 .8rem;
}
.param-table > h2{
    text-align: center;
    font-size: .8rem;
    line-height: 2;
    font-weight: normal;
    margin-bottom: .5rem;
}
.part-list{
    width: 90%;
    margin: 0 auto;
}
.part-list > li{
    border-top: 1px solid #929294;
    margin-bottom: .6rem;
}
.part-list > li > h4{
    padding: 0 .3rem;
    font-weight: normal;
    font-size: .7rem;
    line-height: 2;
    margin: .3rem 0 .5rem;
}
.param-list{
    font-size: .6rem;
    line-height: 2;
    overflow: hidden;
    padding: 0 .5rem;
}
.key-list{
    float: left;
    box-sizing: border-box;
    padding-right: .5rem;
    border-right: 1px solid #929294;
}
.value-list{
    float: left;
    box-sizing: border-box;
    padding-left: 1rem;
}
#uav2Banner1 .des{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    box-sizing: border-box;
    padding: .3rem .5rem;
}
#des1{
    color: #333;
    left: 35%;
    right: 1%;
    top: 10.8%;
}
#uav2Banner3 .des{
    /* color: #616566; */
}
#uav2Des1{
    /* top: 24.2%; */
    left: 50%;
    right: 5%;
}
#uav2Des2{
    width: 100%;
    top: 85%;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: center;
    left: 0;
}

.speed{
    position: absolute;
    left: 0;
    width: 100%;
    top: 14.5%;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    font-family: 'DIN Condensed';
    font-weight: normal;
    text-align: center;
}

.cloud-mg{
    position: relative;
    overflow: hidden;
    padding: 3rem 0 1rem;
}
.cloud-mg > img{
    float: right;
    width: 92%;
}
#tip2{
    bottom: 0;
    left: 20.3%;
}

.params{
    position: absolute;
}
.param{
    color: #cda370;
    font-size: .8rem;
    line-height: 1.2;
    vertical-align: bottom;
    font-weight: lighter;
}
.param > sub{
    color: #333;
    font-size: .6rem;
    line-height: 1;
}
.param-des{
    color: #333;
    font-size: .6rem;
    line-height: 1.4;
}
#params1{
    left: 35%;
    top: 27%;
    right: 0;
}
#params1 > li{
    float: left;
    margin-right: 11.5%;
}
#des2{
    left: 5%;
    right: 5%;
    text-align: center;
    bottom: 13.9%;
    color: #333;
}
#params2{
    left: 0;
    right: 0;
    bottom: 5.5%;
    text-align: center;
}

#params2 > li{
    display: inline-block;
    text-align: center;
    margin: 0 8%;
}
#uav2Des1{
    left: 5%;
    right: 5%;
    text-align: center;
    bottom: 17.9%;
    color: #333;
}
#params3{
    left: 0;
    right: 0;
    bottom: 5.5%;
    text-align: center;
}

#params3 > li{
    display: inline-block;
    text-align: center;
    margin: 0 4%;
}
#des3{
    top: 6%;
    left: 5%;
    right: 5%;
    text-align: center;
    color: #333;
}
.tip{
    position: absolute;
    font-size: .6rem;
    color: #333;
    line-height: 1;
}

#tip1{
    left: 10%;
    bottom: 26%;
}

#des4{
    left: 4%;
    right: 4%;
    text-align: center;
    bottom: 15.9%;
    color: #333;
}
#params4{
    left: 0;
    right: 0;
    bottom: 3.5%;
    text-align: center;
}

#params4 > li{
    display: inline-block;
    text-align: center;
    margin: 0 4%;
}

.swiper-slide.pic-slide{
    width: 80%;
    overflow: hidden;
}
.pic-slide > img{
    width: 100%;
    display: block;
}
.swiper-button{
    position: absolute;
    height: 1.2rem;
    top: 50%;
    margin-top: -.6rem;
    border-radius: 50%;
    background-color: #eee;
    font-size: .6rem;
    line-height: 1.2rem;
    color: #878787;
    width: 1.2rem;
    z-index: 20;
}
.swiper-button > i{
    display: inline-block;
}
.pic-swiper-button-next{
    right: 2.5%;
    text-align: right;
}
.pic-swiper-button-prev{
    left: 2.5%;
    text-align: left;
}
.pic-swiper-button-prev > i{
    margin-left: .15rem;
}
.pic-swiper-button-next > i{
    margin-right: .1rem;
}
#picContainer{
    margin: 1.5rem auto;
}
.mini-title{
    font-size: .7rem;
    margin-bottom: .1rem;
    line-height: 1.5;
    color: #666;
}

.arrow-wrap{
    visibility: hidden;
}
.arrow-wrap.active{
    visibility: visible;
}

.arrow{
    position: absolute;
    width: 26.6%;
    z-index: 20;
}
.arrow-text{
    position: absolute;
    font-size: .6rem;
    line-height: 1.4;
    color: #666;
    z-index: 20;
}
#arrow1 {
    left: 7%;
    top: 27%;
}

#arrow1Text{
    left: 2%;
    top: 13%;
}

#arrow2{
    left: 63%;
    top: -5%;
}

#arrow2Text{
    left: 70%;
    top: -12%;
}

#softwareContainer{
    width: 60%;
    padding: .3rem 0 5rem;
}

.software-slide > img{
    width: 100%;
    display: block;
    margin: 0;
}

.mac-bg{
    background: url("../../img/mac.png") center top no-repeat;
    background-size: 83% auto;
    position: relative;
}

.software-nav:before{
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #b5b5b5;
    z-index: -1;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    position: absolute;
    bottom: .3rem;
    overflow: hidden;
    list-style: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    background: transparent;
    opacity: 1;
    border-radius: 0;
    width: 37%;
    text-align: center;
    height: auto;
    margin: 0;
    line-height: 1.5;
    font-size: .7rem;
    color: #666;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet span{
    border-bottom: 2px solid transparent;
    display: inline-block;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active span{
    border-bottom-color: #535353;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child{
    text-align: left;
    width: 26%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    text-align: right;
}